
body {
	background-color: #7aa4a7;
}
div {
    margin : 16px;
}

.centered {
    text-align: center;
}

ul li.mmenu {
	color: #a0a;
	background: #fa6;
	display: inline-block;
	margin: 0;
	padding: 6px;
	border: 5px;
	border-color: #a0a;
	border-radius: 6px;

}

ul li.mmenu:hover {
	color: #fa6;
	background: #a0a;
	border: 0px;
}


.dark1 {
	background: #c90;
}

.dark2 {
	background: #b80;
}

.dark3 {
	background: #a70;
}

.btn {
/*    padding: 14px 24px;*/
    border: 0 none;
/*    margin: 10px;*/
/*    font-weight: 700;*/
    letter-spacing: 1px;
/*    text-transform: uppercase;*/
}

.error-msg {
    color: #fff;
    background: #ff6338;
    border-radius: 5px;
    margin: 0;
    padding: 0px;
    border: 0px;
    border-color: #a0a;
    text-align: center;
}
    