body {
    font-size: 12px;
    font-family: "BPG Arial", sans-serif;

}

ul {
    font-family: "ALK Sanet", sans-serif;
    font-size: 14px;
}

p {
    color: #033;
}

p.title {
    color: #20436b;
    border: 2px solid transparent;
    border-bottom-color: #3073ab;
    margin: 5px 1px;
    font-weight: bold;
}

label {
    color: #676767;
}

.equalsimbols {
    font-family: Verdana;
}

.changed {
    background-color: #f4ef4f;
}

div.toright {
    text-align: right;
}

#tb_teknic_price td.toright {
    text-align: right;
}

.fa-arrow-alt-circle-left {
    color: #3c763d;
}

.fa-check {
    color: #3c763d;
}

.fa-times {
    color: #b92c28;
}

.fa-edit {
    color: #aa7700;
}

.fa-plus {
    color: #3cc63d;
}

.fa-plus:hover {
    color: #fff;
    background-color: #3cc63d;
}

.fas.btn {
    padding: 2px 4px 2px 4px;
}

.table-section {
    width: 100%;
}

.table-section td {
    vertical-align: bottom;
    padding: 0px 2px 0px 2px;
}

.half-width {
    width: 50%;
}

.kriterias-box {
    padding: 8px;
    border-radius: 4px;
    overflow-y: scroll;
    height: 500px;
    background-color: #dde;
}

.myLink {
    color: #10235b;
    text-decoration: underline;
    cursor: pointer;
}

.hist-title-table {
    width: 100%;
    border: 2px solid transparent;
    border-bottom-color: #618385;
    margin: 6px 0 2px 0;
    font-weight: bold;
}

.hist-title-table label {
    color: #20436b;
    font-size: 1.1em;
}

.title-table {
    width: 100%;
    border: 2px solid transparent;
    border-bottom-color: #3073ab;
    margin: 16px 0 6px 0;
    font-weight: bold;
}

.title-table label {
    color: #20436b;
    font-size: 1.1em;
}

.red-in-title {
    color: #cc2277;
}

.two-btn-width {
    width: 75px;
}

.three-btn-width {
    width: 120px;
}

#tb_teknic_price td {
    padding: 4px;
}

#tbPriceRate1 button {
    margin: 8px;
}

#tbPriceCorection div {
    padding-left: 8px;
}

#finalInfo {
    border: 3px solid #546560;
    border-radius: 4px;
    padding: 10px;
    margin: 6px 0;
    font-size: 1.3em;
    /*visibility: hidden;*/
    width: 100%;
    height: auto;
}

.equal-size td {
    width: 25%;
}

.gr-name {
    font-size: 1.2em;
    font-weight: bold;
    color: #761c19;
    padding: 4px;

}

.gr-head-row {
    background-color: #b0c3eb;
    border: 2px solid transparent;
    border-top-color: #223;
}

.criteria-name {
    font-size: 1.1em;
    color: #33c;
    padding: 4px 4px 4px 12px;
}

.crit-name {
    /*color: #224;*/
    border: 2px solid transparent;
    border-right-color: #445;
}

.top-line {
    border: 2px solid transparent;
    border-bottom-color: #445;
    padding: 2px;
}

#tb_technic_criteria th {
    padding: 3px;
}

table td.grNameStyle {
    color: #ca6d3b;
    font-weight: bold;
}

span.resNumber {
    color: #7a1d1b;
    font-weight: bold;
}

p.mytbtitle {
    margin-top: 6px;
    color: #8a6d3b;
}

td.datewidth {
    white-space: nowrap;
}

.onbuttom {
    align-content: center;
    font-size: 10px;
    padding: 8px;
}

.divTable {
    display: table;
    width: 100%;
    margin-bottom: -10px;
}

.divTableRow {
    display: table-row;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
}

.divTableCell, .divTableHead {
    /*border: 1px solid #299999;*/
    display: table-cell;
    /*padding: 3px 10px;*/
    vertical-align: top;
    min-width: 200px;
}

.divTable tr td {
    padding: 4px 0;
    vertical-align: middle;
}

.divTable tr td:first-child {
    text-align: right;
    padding-right: 4px;
    padding-left: 6px;
}

div.kriterias-box table tr {
    margin-bottom: 4px;
    margin-top: 4px;
}

div.kriterias-box table td {
    padding: 0 4px;
}

.redMark td {
    border-bottom: 3px solid #ff2f31;
}

td.start-td {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 4px;
    background: #ff5a58;
}

td.end-td {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 4px;
    background: #ff5a58;
}

#btnStartPriceRate {
    background-color: #FF8C19;
}

#btnRate {
    background-color: #32cc85;
}

div.hist-item {
    margin: 16px 24px;
    padding: 12px;
    border: #c0d0d0 solid 4px;
    background-color: #c7ddd9;
    border-radius: 8px;
}

p.h-item-head {
    border-radius: 6px;
    border: #8cc68d solid 4px;
    padding: 4px;
    background-color: #fff6dc;
    font-size: 16pt;
    font-family: "ALK Sanet", sans-serif
}

label.value-name {
    padding: 4px 2px 0 2px;
    border-radius: 4px;
    font-size: 12pt;
    font-family: "ALK Sanet", sans-serif
}

p.value-body {
    font-size: 12pt;
    margin-bottom: 2px;
}

.changed {
    background-color: #d5c36a;
}

div.chosen-container {
    width: 100% !important;
    height: 32px !important;
}

div.chosen-container a.chosen-single {
    height: 32px !important;
    padding: 3px 0 0 8px !important;
}

.pan-header {
    width: 100%;
}

.pan-header-left {
    width: 33%;
    text-align: left;
}

.pan-header-right {
    width: 67%;
    text-align: right;
}

select.chain-container {
    width: 100%;
    height: 100%;
    padding: 4px;
}

#panel_chain_manager select option {
    padding: 2px;
    margin-top: 3px;
    border-radius: 3px;
    background-color: #fef;
    font-size: 1.1em;
}

#criteriaChainTable .head-row {
    height: 1%;
}

#criteriaChainTable .head-row td {
    padding: 4px;
    font-size: 1.2em;
}

#criteriaChainTable {
    width: 100%;
    height: 300px;
}

#criteriaChainTable .wide-column {
    width: 30%;
}

.narrow-column {
    vertical-align: center;
    horiz-align: center;
    text-align: center;
    padding: 4px;
    width: min-content;
}

#circle {
    display: none;
    /*display: inline-block;*/
    position: relative;
    background-color: #ffe250;
    margin: 8px 0 -8px 8px;
    width: 48px;
    height: 48px;
    border-radius: 24px;
}
#text {
    position: absolute;
    font-size: 14px;
    font-weight: bolder;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ff3724;
}

#circle2 {
    display: none;
    /*display: inline-block;*/
    position: relative;
    background-color: #ff0909;
    margin: 8px 0 -8px 8px;
    width: 48px;
    height: 48px;
    border-radius: 24px;
}
#text2 {
    position: absolute;
    font-size: 14px;
    font-weight: bolder;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fffde6;
}

.paraminput {
    width: 400px;
    margin: 10px auto;
}

.p-title {
    color: #20436b;
    border: 2px solid transparent;
    border-bottom-color: #3073ab;
    margin: 5px 1px;
    font-weight: bold;
}